.hero
    padding: 210px 0 220px
    background: url('../img/hero/hero-bg.jpg') no-repeat center
    background-size: cover
    color: $white
    &-text
        text-align: center
        &__subtitle
            font-size: 30px
            line-height: 25px
            +bold
        &__title
            font-size: 68px
            letter-spacing: 20.4px
            margin-top: 30px
            margin-bottom: 50px
            +ex-bold
        &__btn
            margin-top: 52px