.mywork
    padding-top: 110px
    text-align: center
    &__title
        margin-bottom: 25px
    &__text
        margin: auto
        margin-bottom: 80px
        max-width: 680px
        font-size: 16px
        line-height: 41px
        +regular
        color: $grey
    &-block
        display: flex
        flex-flow: wrap
        align-items: center
    &-item
        flex: 1 1 auto
        &__photo
            display: block
            width: 100%
