.services
    padding: 50px 0 50px
    background: url('../img/services/services-bg.jpg') repeat-y center left, url('../img/services/services.jpg') no-repeat right
    background-size: 50%, 51%
    &-wrapper
        max-width: 712px
        padding: 0 90px 0 80px
    &__title
        margin-bottom: 30px
    &__text
        margin-bottom: 60px
        font-size: 16px
        line-height: 41px
        color: $grey
        +regular
    &-block
        display: flex
        align-items: center
        flex-wrap: wrap
    &-item
        max-width: 200px
        margin-right: 70px
        color: $grey
        &__title
            font-size: 16px
            line-height: 23px
            +bold
        &__text
            font-size: 12px
            line-height: 21px
            +regular
